<!--History-->
<section class="history">
  <img class="bg-history" src="{{ section.settings.section1_bg | img_url: 'master'  }}" alt="" />

  <div class="history-content container">
    <div class="row">
      <div class="text col-12 col-md-6 col-lg-6 col-xl-6" data-aos="fade-right">
        <div class="section-title-white">
          <h3 class="title-primary">{{ section.settings.section1_title }}</h3>
        </div>

        <p class="mt-3 mb-4">
          {{ section.settings.section1_desc }}
        </p>
      </div>

      <div class="image-history col-md-6 col-lg-6 col-xl-6" data-aos="fade-left">
        <img class="img-fluid" src="{{ section.settings.section1_image | img_url: 'master' }}" alt="" />
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="description-button mt-3">
          <div class="button-green-container">
            {% assign btn_link = section.settings.btn_link %}
            {% if btn_link %}
              {% assign url_history = section.url | append: btn_link %}
              <a href="{{ url_history }}"><button class="button button-green">{{ section.settings.section1_btn_txt }}</button></a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "History Section",
    "settings": [
       {
      "type": "image_picker",
      "id": "section1_bg",
      "label": "Background History Image"   
    },
    {
      "type": "text",
      "id": "section1_title",
      "label": "Title"
      
    },
    {
      "type": "textarea",
      "id": "section1_desc",
      "label": "Description"
    
    },
    {
      "type": "image_picker",
      "id": "section1_image",
      "label": "Image"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "section1_btn_txt",
      "label": "Button Text"
    }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}